<div class="row feedbacks-row">
  <div class="col-md-12">
    <p>
      <button class="btn btn-primary" ng-click="go('/')">Ajouter un avis</button>
    </p>
  </div>
</div>

<p ng-show="feedbacks.length == 0">
  Pas de feedbacks pour le moment.
</p>

<div class="row feedbacks-row" ng-show="feedbacks.length > 0">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li ng-repeat="feedback in feedbacks | orderBy:'-useful'">
        <div ng-include="'templates/feedback.html'"></div>
      </li>
    </ul>
  </div>
</div>
