<div class="rating-input">
  <fieldset class="rating">
    <input ng-model="feedback.rate" type="radio" id="star5" name="rating" value="5" required/>
    <label class="full" for="star5" title="Very good"></label>
    <input ng-model="feedback.rate" type="radio" id="star4" name="rating" value="4" required/>
    <label class="full" for="star4" title="Good"></label>
    <input ng-model="feedback.rate" type="radio" id="star3" name="rating" value="3" required/>
    <label class="full" for="star3" title="Medium"></label>
    <input ng-model="feedback.rate" type="radio" id="star2" name="rating" value="2" required/>
    <label class="full" for="star2" title="Bad"></label>
    <input ng-model="feedback.rate" type="radio" id="star1" name="rating" value="1" required/>
    <label class="full" for="star1" title="Very bad"></label>
  </fieldset>
  <div class="clearfix"></div>
</div>
